<ion-view view-title="Filter Tour Detail" class="bg1 tour-detail">
    <ion-content scrollbar-y="true" has-bouncing="false" class="transparent">
        <!-- <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="joinRequest()">
  </ion-refresher> -->
        <ion-item type="item-text-wrap" class="transparent no-border pad0">
            <div class="card">
                <div class="item tourdetailitem" height="200">
                    <div class="row pad0">
                        <div class="col col-45 ">
                            <div class="item item-avatar item-text-wrap transparent pad0" menu-close>
                                <img src="img/76.jpg">
                            </div>
                        </div>
                        <div class="col col-45 col-center">
                            <h2 class="blue word">{{detail[0].first_name}}&nbsp;{{detail[0].last_name}}</h2>
                            <h3 class="blue word">Convience is  {{detail[0].vehical_type}}</h3>
                            <h3 class="blue word" ng-if="detail[0].smoker">
                                {{detail[0].first_name}} is smoker
                              </h3>
                            <h3 class="blue word" ng-if="detail[0].music_lover">
                                {{detail[0].first_name}} is Music Lover
                              </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-100">
                            <h3 class="blue word">{{detail[0].mobile}}</h3>
                            <h3 class="blue word">{{detail[0].email}}</h3>
                        </div>
                    </div>
                    <div class="row icons">
                        <div class="col col-50 col-center"></div>
                        <div class="col col-30 col-center">
                            <a href="tel:+123456789" class="tab-item">
                                <i class="icon ion-ios-telephone"></i> Call me
                            </a>
                        </div>
                        <div class="col col-20 col-center">
                            <a class="tab-item" ng-click="share()">
                                <i class="icon ion-share"></i> Share
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item text-right tourdetaildiv">
                    <p class="blue"> <span>current location</span>{{detail[0].current_location}} </p>
                </div>
                <div class="item text-right tourdetaildiv">
                    <p class="blue"><span>Destination</span>{{detail[0].destination}}</p>
                </div>
                <div class="item text-right tourdetaildiv">
                    <p class="blue"> <span>Route</span>{{detail[0].route}}</p>
                </div>
                <div class="item text-right tourdetaildiv">
                    <p class="blue"> <span>per head charge</span>{{detail[0].per_head_charge}}</p>
                </div>
                <div class="item text-right tourdetaildiv">
                    <p class="blue"><span>Available Seats</span>{{detail[0].available_seats}}</p>
                </div>
                <button class="button button-block joinbtn" ng-click="sendJoinRequest(detail[0].email,detail[0].plan_id)">
                    Join
                </button>
            </div>
        </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
