<ion-view view-title="Home" class="bg1 home">
   <ion-content scrollbar-y="true" has-bouncing="false" scroll="false"  class="has-footer transparent  " >
        
      <ion-slide-box pager-click="navSlide(index)" auto-play="true" does-continue="true" style="background:transparent; margin:10px; height:100%;">
                            <ion-slide>
                                <p></p>
                                <h3 class="text-center" style="color:#fff;">Have A Car?</h3>
                                <img src="img/CAR.png" style="display:block; margin:0px auto;"/>
                                <p class="text-center" style="font-weight:600;">Are you travelling?</p>
                                <p class="text-center" style="font-weight:600;">Want others to join you.</p>
                                <p class="text-center" style="font-weight:600;">Click on have a car button and post your plan.</p>
                            </ion-slide>
                            <ion-slide>
                                <p></p>
                                <h3 class="text-center" style="color:#fff;">Need A Ride?</h3>
                                <img src="img/CAR.png" style="display:block; margin:0px auto;"/>
                                
                                <p class="text-center" style="font-weight:600;">Wants to travel with others?</p>
                                <p class="text-center" style="font-weight:600;">Click on join team button and post your plan.</p>
                            </ion-slide>
                           
                        </ion-slide-box>
 </ion-content>
 
 <ion-footer-bar align-title="left">
        <div class="row">
          <div class="col"> 
              <a class="button button-block buttondr bluebtn " ng-controller="ModalCtrl" ng-click="openModal()" >Have a Car</a>
          </div>
          <div class="col">
               <button class="button button-block buttondr grenbtn" ng-controller="RiderModalCtrl" ng-click="openModal()" >Join Team</button>
          </div>
        </div>
</ion-footer-bar>
</ion-view>