<ion-view view-title="Requests" class="bg1 full-image notif">
    <ion-content scrollbar-y="true" has-bouncing="false" class="transparent">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="viewNotification()">
        </ion-refresher>
        <!-- <pre>
            {{notifications | json}}
        </pre> -->
        <ion-list ng-show="notifications">
            <ion-item type="item-text-wrap" class="transparent" collection-repeat="notification in notifications">
                <div class="card">
                    <div class="item item-button-right transparent">
                        <button class="button button-clear crossbtn" ng-click="markAsRead(notification.plan_id); removeItem($index);">
                            <i class="icon ion-close-circled cross"></i>
                        </button>
                    </div>
                    <div class="item item-avatar item-text-wrap gray" width="400" height="200">
                        <img src="img/76.jpg" />
                        <h2 class="gren cap">{{notification.current_location}} - {{notification.destination}} </h2>
                        <h3><span>{{notification.first_name}} &nbsp; {{notification.last_name}}  </span> wants to join you on {{notification.departure_date}}.</h3>
                        <h3> Required seats are <span>{{notification.seats_required}}</span>.</h3>
                        <div class="item item-button-right no-border transparent">
                            <div class="buttons rite">
                                <!--
                                <button class="button grenbtn" ng-click="markAsRead(notification.plan_id);">
                                    Mark as Read
                                </button>
-->
                                <button class="button bluebtn" ng-click="acceptRequest(notification.rider_plan_id,notification.plan_id);" ng-disabled="isAllowed">
                                    Accept
                                </button>
                                <button class="button grenbtn" ng-click="rejectRequest(notification.rider_plan_id)" ng-disabled="isAllowed">
                                    Reject
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <div ng-if="!notifications">
            <div class="card">
                <h4 class="text-center">You don't have any requests yet!</h3>
            </div>
        </div>
    </ion-content>
</ion-view>
