<ion-view view-title="Signin" class="bg1 profile">
    <ion-content class="padding signform has-header" has-bouncing="false">
        <div class="list list-inset transparent pad20 ">
            <h3 class="blue text-center">Share my Ride</h3>
            <form name="signinForm" novalidate="" ng-submit="signIn(signinForm.$valid)">
                 <p>
                    <label class="item item-input" ng-class="{ 'has-errors' : signinForm.email.$invalid && !signinForm.email.$pristine,'no-errors' : signinForm.email.$valid} ">
                        <i class="icon ion-ios-email placeholder-icon"></i>
                        <input type="email" name="email" ng-model="signin.email" placeholder="Enter Email" ng-minlength="13" maxlength="30" required>
                    </label>
                    <div class="error-container" ng-show="signinForm.email.$error" ng-messages="signinForm.email.$error" ng-if="signinForm.email.$invalid && !signinForm.email.$pristine">
                        <p class="error" ng-message="required"><i class="ion-information-circled"></i> Your email address is required.</p>
                         <p class="error" ng-message="minlength"><i class="ion-information-circled"></i> Enter valid email address.</p>
                 
                    </div>
                </p>
            
                <p>
                    <label class="item item-input" ng-class="{ 'has-errors' : signinForm.password.$invalid && !signinForm.password.$pristine , 'no-errors' : signinForm.password.$valid}">
                        <i class="icon ion-ios-locked placeholder-icon"></i>
                        <input type="password" name="password" ng-model="signin.password" placeholder="Enter Password" ng-minlength="5" ng-maxlength="20" required>
                    </label>
                    <div class="error-container " ng-show="signinForm.password.$error " ng-messages="signinForm.password.$error" ng-if="signinForm.password.$invalid && !signinForm.password.$pristine">
                        <p class="error" ng-message="minlength"><i class="ion-information-circled"></i> Password is too short</p>
                        <p class="error" ng-message="maxlength"><i class="ion-information-circled"></i> Password is too long.</p>
                        <p class="error" ng-message="required"><i class="ion-information-circled"></i> Password is required.</p>
                    </div>
                </p>


                <button class="button  button-full button-block buttondr bluebtn" type="submit" ng-disabled="signinForm.$invalid">
                    Login
                </button>
            </form>
<!--            <a href="#signup" style="text-decoration:none;">-->
                 <a href="#/app/signup" style="text-decoration:none;">
                <h5 class="text-center"> Not a member? Sign Up </h5></a>
        </div>
    </ion-content>
</ion-view>
