<ion-view view-title="signin" class="bg1 profile">
   <ion-content class="padding signform " has-bouncing="false" >
  
                      <div class="list list-inset transparent pad20 ">
          <h3 class="blue text-center">Share my Ride</h3>
                          <form    
name="signinForm" novalidate>

               <p>
    <label class="item item-input">
     <i class="icon ion-ios-email placeholder-icon"></i>
  <input type="email" name="email" ng-model="email" placeholder="Enter your email" required>
        <p>
  <span style="color:red;" class="pad30" ng-show="signinForm.email.$dirty && signinForm.email.$invalid ">

  <span ng-show="signinForm.email.$error.required">email is required.</span>
  </span></p>
    </label>
</p>
               <p>
    <label class="item item-input" >
     <i class="icon ion-ios-locked placeholder-icon"></i>
  <input type="password" name="password" ng-model="password" placeholder="Enter Password" required>
        <p>
  <span style="color:red" class="pad30" ng-show="signinForm.password.$dirty && signinForm.password.$invalid ">
  <span ng-show="signinForm.password.$error.required">Password is required.</span>
  </span></p>
    </label>
</p>

</p>
                         
   
                              <div class="row" >
                                  <div class="col-10">
                                       
                                      </div>
                                <div class="col-90">  
                                    <button class="button  button-small button-block buttondr bluebtn"  type="submit" ng-disabled="signinForm.email.$dirty && signinForm.email.$invalid ||
  signinForm.password.$dirty && signinForm.password.$invalid ">
  Login
</button>
                                  </div>
</div>
                        <a href="#signup" style="text-decoration:none;"> <h5 class="text-center"> Not a member? Sign Up </h5></a>


</form>
            </div>
 </ion-content>
</ion-view>