/* Empty. Add your own CSS if you like */
.login{
    background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/login.png');
}
.ab{
    background-color:#0076a3;
}
.bg1{
     background-repeat: no-repeat;
/*  background-position:top right;*/
    background-size:cover;
    background-attachment:fixed;
  background-image: url('../img/bg1.png');
}
.bg2{
/*
     background-repeat: no-repeat;

    background-size:100% 100%;
    background-attachment:fixed;
  background-image: url('../img/bg.png');
    */
/*    background:#91ABA4;*/
     background: #648880;
  background: linear-gradient(to left, #86969A ,#CEBEB8,#6D7777, #CCBEA5 85%, #949696);
}
/*<<<<<<< HEAD*/
.bg5{
    background:#82bbb0;
/*
     background-repeat: no-repeat;

    background-size:100% 100%;
    background-attachment:fixed;
*/
/*  background-image: url('../img/bg5.jpg');*/
}
.transparent{
    background:transparent;
}
.cap{
  text-transform:capitalize;
}
.rite{
  right:-14px !important;
}
.pad20{
      padding:20px;
}
.pad30{
    padding-left:30px;
}
.pad2{
    padding:0px 20px;
}
.pad10{
    padding:10px 0px;
}
.pad0{
    padding:0px;
}
.word{
    text-transform:capitalize;
    word-wrap:break-word;
}
.che{
    border:0px; padding-top:5px; padding-bottom:5px; display:inline-block;
}
.home ion-item , .notif ion-item{
border:none; padding-top:0px; 
}
.home .card{
    margin:0px; 
}
.home .item .item-thumbnail-left{
    padding-bottom:0px;padding-right:0px;background:#ebebeb;
}
.home .item > label{
    background:#b3cfda; padding:2px 10px; float:right;
}

.home .item  span{
    font-weight:bold;
      color:#155877;
    text-transform:capitalize;
}
.home ion-footer-bar{
    background:transparent; border-top:5px solid #ded3c4; height:66px;"
}
.home .buttondr{
     font-weight:bold; margin-top:0px; padding:2px; height:41px;
}
.notif .card{
      margin: 10px 10px 0px 10px; 
    background:#ebebeb !important;
}
.notif.item > label{
   font-size: 11px;
}
.notif .item  span{
   
    color:#155877;
    text-transform:capitalize;
}

.no-border{
    border:none;
}
.msg{
     font-family:script;
    padding:10px 0px;
}
.crossbtn{
    top:0px !important;
    right:2px !important;
}
.cross{
    font-size:20px !important;
    color:#155877;
}
.uptours ion-item {
border:none; padding-top:0px; margin-top:10px; 
}
.uptours .item .item-thumbnail-left{
    padding-bottom:7px;padding-right:0px;background:#ebebeb;
}
.uptours .card{

    margin :0px;
}
.uptours .item > label{
   background:#b3cfda; padding:2px 10px; float:right;
}

.uptours .item  span{
    color:#155877;
      font-weight:bold;
    text-transform:capitalize;
}
.tourlist ion-item {
border:none; padding-top:0px; margin-top:10px; 
}
.tourlist .item .item-thumbnail-left{
    padding-bottom:7px;padding-right:0px;background:#ebebeb;
}
.tourlist .card{
background:#ebebeb;
    margin :0px;
}
.tourlist .item > label{
   background:#b3cfda; padding:2px 10px; float:right;
}

.tourlist .item  span{
    color:#155877;
      font-weight:bold;
    padding-right:7px;
    text-transform:capitalize;
}
.profile .card{
      margin: 10px 10px 0px 10px; 
}
.profile.item > label{
   font-size: 11px;
}
.profile .item  span{
    color:#fff;
    text-transform:capitalize;
    float:left;
}
.profile .item  p{
color:#fff; font-weight:bold; word-wrap:break-word;
}
.profileitem{
/*   padding:7px 2px 5px 7px;background:#509abc;  */
      padding:7px 2px 20px 15px;background:#005a84;  
}

.profileitem h3{
  padding: 2px 0px 0px 8px; font-weight:700;
}
.profilediv {
    background:#47caaa; color:#155877; padding:5px 20px; margin-bottom:10px; color:#fff; border-top: 2px inset rgba(28, 68, 68, 0.35);
}
.tour-detail .card{
      margin: 10px 10px 0px 10px; 
}
.tour-detail .item > label{
   font-size: 11px;
}
.tour-detail .item  span{
    color:#fff;
    text-transform:capitalize;
    float:left;
}
.tour-detail .item  p{
color:#000; font-weight:bold; word-wrap:break-word;
}
.tourdetailitem{
    background:#ebebeb !important;
    margin:0px !important;
    padding:0px !important;
}
.tourdetailitem h3{
  padding: 2px 0px 0px 8px; font-weight:600;
}
.tourdetailitem >.icons{
    background:#005a84;
/*    background:#509abc;*/
    margin:0px !important;
}

.tourdetaildiv {
    background:#47caaa; color:#155877; padding:5px 20px; margin-bottom:10px; color:#fff; border-top: 2px inset rgba(28, 68, 68, 0.35);
}
.tourdetails ion-item{
    border:none; padding-top:0px; margin-top:10px; 
}
.tourdetails .item .item-thumbnail-left{
    padding-bottom:7px;padding-right:0px;background:#ebebeb;
}
.tourdetails .card{
/*      margin: 10px 10px 0px 10px; */
    margin :0px;
    padding-bottom:0px !important;
}
.tourdetails .item > label{
   background:#b3cfda; padding:2px 10px !important; float:right;
}

.tourdetails .item  span{
    color:#155877 !important;
      font-weight:bold;
    padding-right:7px;
    text-transform:capitalize;
}
.tourdetails .item p {
    color: #666 !important;
  font-weight:normal !important;
    word-wrap: break-word;
}
.tourdetails .item > label{
   font-size: 15px !important;
}
.ridertours{
    padding:10px 0px 10px 20px ;
    color:#155877;
}
.ridertour .card{
/*      margin: 10px 10px 0px 10px; */
    margin :0px;
}

/*
=======
>>>>>>> origin/master
*/
.button{
    color:#fff;
}
.has-footer{
    bottom:66px;
}
h2{
    font-weight:bold !important;
}
.joinbtn{
    background:#2ca6b3;
    margin-bottom:0px !important;
}
.joinbtn:hover{
    background:#29939e;   margin-bottom:0px; color:#fff;
}
.ul1 >.item>.icon {
    font-size:20px;
     color:#213a61;
}
.tab-item {
     opacity:1 !important;
     color:#fff; 
}
.tab-item .icon{
    font-size:30px;
     color:#fff; 
   
}
.ul1> a.item{
    font-size:15px;
    color:#fff;
}
.ul1>a:hover{
    border-left:5px solid #406a88;
    color:#213a61;
    font-weight:bold;
}
.ul1 >a{
    background:transparent;
}
.pro{
    background:#406788;
}
.pro:hover{
   
   background:#213a61;
  
}
.ul1> .item-thumbnail>img{
    border-radius:50%;
}

.circle-text {
    width:100%;
    height:100%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: transparent; 
    background: rgba(255,255,255,0.8); 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div  h3{
    float:left;
    width:100%;
   
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:#47caaa;
}
.circle-text-top3{
    padding-top:3%;
}
.circle-text-top40{
     padding-top:40%;
}
/*
.dform .item{
    background:transparent;
    border:0px;
  padding:0px 60px;
}
.dform .image {
    width: 30px;
    height: 30px;
    display:block;
    margin:5px auto;
}

.dform input{
    margin:10px;
        border-top: 3px inset #2fb9ab;
    background: #75b1be;
    color: #fff;
    padding-left:5px;
*/
/*
    width:50%;
    float:right;
*/
}
.abc:hover{
     position:absolute;
    top:-25px;
    left:-35px;
    width:500px;
    height:500px;
    display:block;
    z-index:999;
}
#picture {display: block; margin:0px auto;}
#picture a.small, #picture a.small:visited { display:block; width:50px; height:50px; text-decoration:none ;  margin:0px auto; border:0;}
#picture a img {border:0; display:block; margin:0px auto;}
#picture a.small:hover {text-decoration:none;  }
#picture a .large {display:block; position:relative; width:0; height:0; border:0;  left:0;}
#picture a.small:hover .large {display:block; position:relative;  left:-210px; width:200px; height:200px; z-index:1000;background:#89c6d4;
     padding:10px 10px; }
.icosize{
   width:20px; height:20px;
}
.bluediv{
    background:#489ab3;
    padding-top:30px;
}
/*
.dform label, .signform label{
    background:transparent;
    border:0px;
}

*/
/*
.signform label{
    background:transparent;
    border:0px;
}
*/
.dform input::-webkit-input-placeholder  {
/* color:    white;*/
    color:grey;
    padding-left:10px;
}
.signform input::-webkit-input-placeholder{
    color:#004965;
    padding-left:10px;
}
.signform input::-moz-placeholder{
     color:#004965;
    padding-left:10px;
}
.dform .icon , .signform .icon{
   color:#004965;
}
.dform input::-moz-placeholder  {
/*    color:white;*/
     color:grey;
    padding-left:10px;
}

.dform .cancel {
     white-space:nowrap;
     color:#119696;
    font-weight:bold;
}
.dform .post {
     color:#155877;
     white-space:nowrap;
    font-weight:bold;
}
/*
label.ng-invalid {
    border:1px solid grey;
    box-shadow:inset 1px 1px 2px 0 #BECDD2;
    transition: box-shadow 0.3s;
}
*/
/*
input.ng-invalid {
    border:1px solid grey;
    box-shadow:inset 1px 1px 2px 0 #BECDD2;
    transition: box-shadow 0.3s;
}
input.ng-valid {
    border:1px solid #092;
    box-shadow:inset 1px 1px 2px 0 #BECDD2;
    transition: box-shadow 0.3s;
}
*/


.error-container {
  margin: 5px 0;
}
 
.error-container:last-child {
    margin: 5px 0 0;
}
 
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform:capitalize;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 20px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
/*  border-bottom: 3px solid #B83E2C;*/
    border: 1px solid #B83E2C !important;
}
 
.no-errors {
/*  border-bottom: 3px solid green;*/
     border: 1px solid green !important;
}
.signform .item{
    background:transparent;
    border:1px solid grey;
    box-shadow:inset 1px 1px 2px 0 #BECDD2;
    transition: box-shadow 0.3s;
}
/*Custom card styling*/
.tour-card{
  margin-top: 15px !important;
}
/*ends here*/